<div class="tyk-checkbox">
  <div class="tyk-form-control__wrapper">
    <label>
      <input
        name="{{.InputName}}"
        {{if .InputId}} id="{{.InputId}}" {{end}}
        value="true"
        type="checkbox"
        value="false"
        {{if .Value}}checked{{end}} {{if (not (has_change_permission .Meta))  }} disabled{{end}}
      >
      {{meta_label .Meta}}
      {{if has_change_permission .Meta}}<input type="hidden" name="{{.InputName}}" value="false">{{end}}
    </label>
  </div>
</div>