{{ render_with "metas/form/code-reference" (to_map
"BaseResource" .BaseResource
"CollectionValue" .CollectionValue
"Context" .Context
"InputName" .InputName
"Label" .Label
"Meta" .Meta
"ResourceValue" .ResourceValue
"Value" .Value
"CRType" "image"
) }}