<div class="tyk-form-group tyk-form-group--default tyk-form-group--rounded-corners">
  <label for="{{.InputId}}">{{meta_label .Meta}}</label>
  <div class="qor-field__show">{{.Value}}</div>
  <div class="tyk-form-control__wrapper">
    <input
     autocomplete="off"
     class="tyk-form-control"
     name="{{.InputName}}"
     type="text"
     id="{{.InputId}}"
     value="{{.Value}}"
     oninput="CodeReferenceOnChange(this, this.value)"
    {{if (not (has_change_permission .Meta)) }}disabled{{end}}
    />
  </div>
</div>
<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    <label class="qor-field__label mdl-textfield__label" for="{{.InputId}}">
      #Code Reference
    </label>
    <div class="qor-field__edit">
      {{ code_reference_format .Value .Meta.Collection }}
    </div>
  </div>
</div>
