{{ $links := raw_value_of .ResourceValue .Meta }}
<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    <label class="qor-field__label mdl-textfield__label" for="{{.InputId}}">
      {{meta_label .Meta}}
    </label>
    {{ range $links }}
      <br>
      <a href="{{ .URL }}" target="_blank">{{ .Label }}</a>
      <br>
    {{ end }}
  </div>
</div>
