<div class="qor-field">
  <div class="input-label-wrapper">
    <label class="qor-field__label" for="{{.InputId}}">
      {{meta_label .Meta}}
    </label>
    {{if .Meta.Tooltip }}
      <span class="help-icon">
        <img src="./assets/images/help.svg" id="tooltip-icon-{{.InputId}}" />
      </span>
      <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--right" data-mdl-for="tooltip-icon-{{.InputId}}">
        <p class="bubble-arrow"></p>
        <p class="tooltip-text">{{ .Meta.Tooltip }}</p>
      </div>
  {{end}}
  </div>


  <div class="qor-field__show qor-redactor__show redactor-styles">{{raw .Value}}</div>

  {{if .Meta.Config.Plugins}}
    {{range $plugin := .Meta.Config.Plugins}}
      <script src="{{$plugin.Source}}"></script>
    {{end}}
  {{end}}

  {{$asset_manager := .Meta.Config.AssetManager}}
  <div class="qor-field__edit qor-field__block qor-redactor-box">

  <div class="tyk-form-group tyk-form-group--default tyk-form-group--rounded-corners qor-redactor-box">
    <textarea
      class="tyk-form-control qor-js-autoheight"
      id="{{.InputId}}"
      name="{{.InputName}}"
      rows="10"
      data-redactor-settings="{{marshal .Meta.Config.Settings}}"
      data-toggle="qor.redactor"
      {{if $asset_manager}}
        {{$asset_router := printf "%v/%v" $asset_manager.GetAdmin.GetRouter.Prefix $asset_manager.ToParam}}
        data-upload-url="{{$asset_router}}/upload"
        data-crop-url="{{$asset_router}}/crop"
        data-text="{&quot;title&quot;: &quot;{{t "qor_admin.form.crop_image" "Crop image"}}&quot;, &quot;ok&quot;: &quot;{{t "qor_admin.form.ok" "OK"}}&quot;, &quot;cancel&quot;: &quot;{{t "qor_admin.form.cancel" "Cancel"}}&quot;}"
      {{end}}
      {{if not (has_change_permission .Meta) }}disabled{{end}}
    >
      {{.Value}}
    </textarea>
  </div>
</div>
