{{$syncSuffix := "SyncWithSlug"}}
{{$syncInputId := (printf "%v%v" .InputId $syncSuffix)}}
{{$syncLabel := (printf "%v with %v" "Sync URL" .Label)}}

{{$slugSuffix := "WithSlug"}}
{{$slugMeta := .BaseResource.GetMeta (print .Meta.Name $slugSuffix) }}
{{$slugValue := formatted_value_of .ResourceValue $slugMeta}}
{{$slugInputId := (printf "%v%v" .InputId $slugSuffix)}}
{{$slugInputName := (printf "%v%v" .InputName $slugSuffix)}}
{{$slugLabel := $slugMeta.Label}}

<div class="qor-slug qor-field" data-toggle="qor.slug">
  <div class="tyk-form-group tyk-form-group--default tyk-form-group--rounded-corners">
    <div class="input-label-wrapper">
      <label for="{{.InputId}}">{{t (printf "%v.attributes.%v" .BaseResource.ToParam .Label) .Label}}</label>
    </div>
    <div class="tyk-form-control__wrapper">
      <input
        type="text"
        class="tyk-form-control"
        id="{{.InputId}}"
        name="{{.InputName}}"
        {{if .Value}} value="{{.Value}}" {{end}}
        {{if not (has_update_permission .Meta)}}disabled{{end}}
      >
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="tyk-form-group tyk-form-group--default tyk-form-group--rounded-corners">
        <div class="input-label-wrapper">
          <label for="{{.InputId}}">{{t (printf "%v.attributes.%v" .BaseResource.ToParam $slugLabel) $slugLabel}}</label>
        </div>
        <div class="tyk-form-control__wrapper">
          <input
            type="text"
            class="tyk-form-control"
            id="{{$slugInputId}}"
            name="{{$slugInputName}}"
            {{if $slugValue}} value="{{$slugValue}}" {{end}}
            {{if not (has_update_permission $slugMeta)}}disabled{{end}}
          >
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="tyk-checkbox">
        <div class="tyk-form-control__wrapper">
          <div class="input-label-wrapper">
            <label>
              <input
                type="checkbox"
                id="{{$syncInputId}}"
                value="true"
                type="checkbox"
                {{if is_new_record .ResourceValue}}checked{{end}} {{if not (has_update_permission $slugMeta)}}disabled{{end}}
              >
              <span>{{t (printf "%v.actions.%v" .BaseResource.ToParam $syncLabel) $syncLabel}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
