<div class="tyk-form-group tyk-form-group--default tyk-form-group--rounded-corners">
  <label for="{{.InputId}}">{{meta_label .Meta}}</label>
  <div class="qor-field__show">{{.Value}}</div>
  <div class="tyk-form-control__wrapper">
  <textarea
    class="tyk-form-control qor-js-autoheight"
    id="{{.InputId}}"
    name="{{.InputName}}"
    rows="2"
    {{if (not (has_change_permission .Meta)) }}disabled{{end}}
    >{{ .Value }}</textarea>
</div>