<div class="right-buffer-medium">
  <p class="mdl-layout-title">{{page_title}}</p>
  {{if .Resource }}
    {{if .Resource.Description }}
      <p class="mdl-layout-description">{{.Resource.Description}}</p>
    {{ end }}
  {{ end }}
</div>




