<div class="qor-page__body overview">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}
  <div class="tyk-row">
    <div class="tyk-col--lg-12 tyk-col card">
      <div class="tyk-row">
        <div class="tyk-col--lg-3 tyk-col card"> 
          <img class="card__image" src="/admin/assets/images/overview/tyk-desktop.svg" />
         </div>
        <div class="tyk-col--lg-9 tyk-col card">
          <h2 class="card__header">Hello
          {{ $user := CurrentUser req }}
            {{if $user}}
              {{$user.DisplayName}}</h5>
            {{end}}
          </h2>
          <p>Welcome to Tyk Portal admin dashboard. Here you can manage your API products and plans, customise the portal, invite and organise api-consumers and much more.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tyk-row toggle-help-section">
    <div class="tyk-col--lg-12 tyk-col right-align">
      <span class="toggle-help-section__cta">
        Toggle help section
        <i class="tyk-icon tykon tykon-arrowdown"></i>
       </span>
    </div>
  </div>

  <div class="help-section">
    <div class="tyk-row">
      <div class="tyk-col--lg-4 tyk-col card is-link">
        <a href="/admin/providers">
          <div class="card-contents">
            <span class="card__title"> Providers </span>
            <img class="card__image" src="/admin/assets/images/overview/providers.svg" />
            <div class="card__description">Connect the developer portal to a provider and import API products and plans.</div>
          </div>
        </a> 
      </div>
      <div class="tyk-col--lg-4 tyk-col card is-link">
        <a href="/admin/api_products">
          <div class="card-contents">
            <span class="card__title"> API Products </span>
            <img class="card__image" src="/admin/assets/images/overview/api-products.svg" />
            <div class="card__description">API Products is an easy way to offer bundle of APIs as products to external developers. </div>
          </div>
        </a> 
      </div>
      <div class="tyk-col--lg-4 tyk-col card is-link">
        <a href="/admin/plans">
          <div class="card-contents">
            <span class="card__title"> Plans </span>
            <img class="card__image" src="/admin/assets/images/overview/plans.svg" />
            <div class="card__description">Plans unlock the ability to create tiered access levels to one or more API products, for example Bronze, Silver and Gold.</div>
          </div>
        </a> 
      </div>
    </div>

    <div class="tyk-row">
      <div class="tyk-col--lg-4 tyk-col card is-link">
        <a href="/admin/catalogues">
          <div class="card-contents">
            <span class="card__title"> Catalogues </span>
            <img class="card__image" src="/admin/assets/images/overview/catalogues.svg" />
            <div class="card__description">Catalogues enables the ability to publish  API products and plans based on visibility and access requirements.</div>
          </div>
        </a> 
      </div>
      <div class="tyk-col--lg-4 tyk-col card is-link">
        <a href="/admin/provisioning_requests">
          <div class="card-contents">
            <span class="card__title"> Provisioning Requests </span>
            <img class="card__image" src="/admin/assets/images/overview/requests.svg" />
            <div class="card__description">A provisioning request will be sent when a developer subscribe to an API product(s) and a plan (if approval is required).</div>
          </div>
        </a> 
      </div>
      <div class="tyk-col--lg-4 tyk-col card is-link">
        <a href="/admin/apps">
          <div class="card-contents">
            <span class="card__title"> Apps </span>
            <img class="card__image" src="/admin/assets/images/overview/apps.svg" />
            <div class="card__description">An app can capture data about intended use of the API Product(s) from the external developer as well as the access credentials. </div>
          </div>
        </a> 
      </div>
    </div>

    <div class="tyk-row">
      <div class="tyk-col--lg-4 tyk-col card is-link">
        <a href="/admin/organisations">
          <div class="card-contents">
            <span class="card__title"> Organisations </span>
            <img class="card__image" src="/admin/assets/images/overview/organisations.svg" />
            <div class="card__description">An organisation can represent larger business units of a company. It works as a container for various teams and users.</div>
          </div>
        </a> 
      </div>
      <div class="tyk-col--lg-4 tyk-col card is-link">
        <a href="/admin/teams">
          <div class="card-contents">
            <span class="card__title"> Teams </span>
            <img class="card__image" src="/admin/assets/images/overview/teams.svg" />
            <div class="card__description">This area display all teams, a team is created automatically when a new organisation is created. </div>
          </div>
        </a> 
      </div>
      <div class="tyk-col--lg-4 tyk-col card is-link">
        <a href="/admin/users">
          <div class="card-contents">
            <span class="card__title"> Users </span>
            <img class="card__image" src="/admin/assets/images/overview/users.svg" />
            <div class="card__description">All the registered api consumers for the public facing portal will be displayed in this area. Invite and manage the users from here.</div>
          </div>
        </a> 
      </div>
    </div>

    <div class="tyk-col--lg-12 tyk-col center-align">
      <button class="tyk-button tyk-button--primary-outline tyk-button--sm hide-help-section" onclick="hideHelpSection()"> Do not show this section again</button>
    </div>
  </div>

  <div class="tyk-row">
    <div class="tyk-col--lg-12 tyk-col card">
      <div class="tyk-row">
        <div class="tyk-col--lg-3 tyk-col card"> 
          <img class="card__image" src="/admin/assets/images/overview/documentation.svg" />
         </div>
        <div class="tyk-col--lg-9 tyk-col card">
          <h2 class="card__header">Documentation </h2>
          <p>If you need further help to get started with Tyk Portal, please read up onrted with Tyk Portal, please read up on the documentation the documentationrted with Tyk Portal, please read up on the documentation.</p>
          <a class="docs-link" href="https://tyk.io/docs/" target="_blank">
            <i class="tyk-icon tykon tykon-link "></i>
            Get Familiar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>