<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <h2 class="qor-page__tips">Dashboard Placeholder</h2>


  <!-- Dummy HTML for testing purposes. Must be removed after QA -->
  <div class="collapsible-container"> 
    <div class="collapsible-header">
      <i class="tyk-icon tykon tykon-arrowup"></i>
      <span class="collapsible-header__title">Header of 1st div</span>
      <a href="https://tyk.io/docs" target="_blank" class="collapsible-header__link">Learn more
        <i class="tyk-icon tykon tykon-link"></i>
      </a>
      <p class="collapsible-header__info">Description lorem ipsum</p>
    </div>
    <div class="collapsible-content">
      <div>
        <div class="tyk-radio">
          <label>
            <input name="radio" type="radio">This is a radio1
          </label>
          <p class="tyk-form-control__help-block">With some note</p>
        </div>
        <div class="tyk-radio">
          <label>
            <input name="radio" type="radio">This is a radio2
          </label>
          <p class="tyk-form-control__help-block">With some note</p>
        </div>
      </div>
    </div>
  </div>

  <div class="collapsible-container">
    <div class="collapsible-header">
      <i class="tyk-icon tykon tykon-arrowup"></i>
      <span class="collapsible-header__title">Header of 2nd div</span>
      <a href="https://tyk.io/docs" target="_blank" class="collapsible-header__link">Learn more
        <i class="tyk-icon tykon tykon-link"></i>
      </a>
    </div>
    <div class="collapsible-content">
      <div><div class="tyk-checkbox">
        <div class="tyk-form-control__wrapper">
          <label>
            <input type="checkbox">This is a checkbox</label>
            <p class="tyk-form-control__help-block">With some note</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="collapsible-container">
    <div class="collapsible-header">
      <i class="tyk-icon tykon tykon-arrowup"></i>
      <span class="collapsible-header__title">Header of 3rd div</span>
      <a href="https://tyk.io/docs" target="_blank" class="collapsible-header__link">Learn more
        <i class="tyk-icon tykon tykon-link"></i>
      </a>
    </div>
    <div class="collapsible-content">
      Content of 3rd div
    </div>
  </div>


  <div class="collapsible-container">
    <div class="collapsible-header">
      <i class="tyk-icon tykon tykon-arrowup"></i>
      <span class="collapsible-header__title">Header of 4th div</span>
      <a href="https://tyk.io/docs" target="_blank" class="collapsible-header__link">Learn more
        <i class="tyk-icon tykon tykon-link"></i>
      </a>
    </div>
    <div class="collapsible-content">
      Content of 4th div
    </div>
  </div>
  <!-- End of dummy HTML -->

</div>
