<!DOCTYPE html>
<html lang="en-US">
  <head>
    {{$title := page_title}}
    <title>{{if $title}}{{$title}} - {{end}}{{if .Admin.SiteName}}{{t .Admin.SiteName}}{{else}}{{t "Tyk Portal"}}{{end}}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./assets/images/favicon.ico" />
    <!-- Stylesheets -->
    {{stylesheet_tag "fonts"}}
    {{stylesheet_tag "qor_admin_default"}}
    {{load_admin_stylesheets}}
    {{load_theme_stylesheets}}
    {{stylesheet_tag "tyk-ui"}}
    {{stylesheet_tag "tyk"}}
    {{javascript_tag "vendors"}}
  </head>

  <body class="{{if qor_theme_class}}{{qor_theme_class}}{{end}}">
    <!--[if lt IE 11]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <a class="visuallyhidden" href="#content" tabindex="1">{{t "qor_admin.layout.skip_to_content" "Skip to content"}}</a>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header qor-layout">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <a href="/admin" class="logo"></a>
          <div class="mdl-layout__header-row__container">
            {{t "qor_admin.layout.logo" "<a href=\"{{.Prefix}}\"><span class=\"visuallyhidden\">Tyk</span></a><a href=\"/\" target=\"_blank\">Documentation <i class=\"text-success tyk-icon tykon tykon-link\" aria-hidden=\"true\"></i></a>" .Admin.GetRouter}}
            {{t "qor_admin.layout.logo" "<a href=\"{{.Prefix}}\"><span class=\"visuallyhidden\">Tyk</span></a><a href=\"/\" target=\"_blank\">Live portal <i class=\"text-success tyk-icon tykon tykon-link\" aria-hidden=\"true\"></i></a>" .Admin.GetRouter}}
            {{if .CurrentUser}}
              <div>
                <h5>{{.CurrentUser.DisplayName}}</h5>
              </div>
            {{end}}

            <div class="profile-details-container">
              <i id="profile-icon" class="tyk-icon tykon tykon-profile profile-details-container__icon"></i>
              <ul id="profile-menu" class="profile-details-container__list">
                <li>
                  <a id="logout-btn" href="{{logout_url}}" title="{{t "qor_admin.account.logout" "logout"}}" alt="{{t "qor_admin.account.logout" "logout"}}">Logout</a>
                </li>
              </ul>
            </div>
          </div>
      </header>

      <div class="mdl-layout__drawer">
        {{render "shared/sidebar"}}
      </div>
      
      {{$NotSingleton := false}}
      {{ if .Resource}}
        {{ if .Resource.Config}}
          {{$NotSingleton = not .Resource.Config.Singleton}}
        {{ end }}
      {{ end }}
      <main class="mdl-layout__content qor-page {{if $NotSingleton}}not-singleton{{else}}is-singleton{{end}}" id="content">
        <div class="content-header">
          {{$actions := load_actions "header" }}
            {{if $actions}}
              {{$actions}}
            {{end}}
            {{if .Resource}}
              {{$HasCreatePermission := has_create_permission .Resource}}
              {{if and $NotSingleton $HasCreatePermission}}
                <a class="tyk-button tyk-button--success tyk-button--md action-button" href="{{new_resource_path .Resource}}" data-url="{{new_resource_path .Resource}}">
                  Add
                </a>
              {{else}}
                {{ $section :=  url_for .Resource}}
                <button class="tyk-button  tyk-button--success tyk-button--md qor-button--save" type="submit" form="{{$section}}">{{t "qor_admin.form.save_changes" "Save Changes"}}</button>
              {{end}}
            {{end}}
        </div>
          {{.Content}}
      </main>
    </div>

    <!-- JavaScripts -->
    <script>
      QOR_Translations = window.QOR_Translations || {};
      QOR_Translations.okButton = '{{t "qor_admin.form.ok" "OK"}}'
      QOR_Translations.cancelButton = '{{t "qor_admin.form.cancel" "Cancel"}}'
      QOR_Translations.serverError = '{{t "qor_admin.form.serverError" "Server error, please try again later !"}}'
      QOR_Translations.slideoutCloseWarning = '{{t "qor_admin.slideout.close_warning" "You have unsaved changes on this slideout. If you close this, you will lose all unsaved changes. Are you sure you want to close the slideout ?"}}'
    </script>
    {{javascript_tag "qor_admin_default"}}
    {{javascript_tag "tyk"}}
    {{/* <script type="module" src="admin/assets/javascripts/modules.js"></script> */}}
    {{load_admin_javascripts}}
    {{load_theme_javascripts}}
  </body>
</html>
