{{$actions := load_actions "new"}}
{{if $actions}}
  <div class="qor-page__header">
    {{$actions}}
  </div>
{{end}}

<div class="qor-page__body qor-page__new">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    <form class="qor-form" action="{{url_for .Resource}}" method="POST" enctype="multipart/form-data">
      {{if has_create_permission .Resource}}
        <div class="qor-form__actions">
          <a class="mtyk-button tyk-button--primary-link tyk-button--md qor-button--cancel" onclick="onCancel();" href="javascript:void(0)">{{t "qor_admin.form.cancel" "Cancel"}}</a>
          <button class="tyk-button tyk-button--success tyk-button--md qor-button--save" type="submit">{{t "qor_admin.form.add" "Save" }}</button>
          </button>
        </div>
      {{end}}

      {{render_form .Result new_sections }}

      {{if has_create_permission .Resource}}
        <div class="qor-form__actions">
          <a class="mtyk-button tyk-button--primary-link tyk-button--md qor-button--cancel" onclick="onCancel();" href="javascript:void(0)">{{t "qor_admin.form.cancel" "Cancel"}}</a>
          <button class="tyk-button tyk-button--success tyk-button--md qor-button--save" type="submit">{{t "qor_admin.form.add" "Save" }}</button>
          </button>
        </div>
      {{end}}
    </form>
  </div>
</div>
