{{ $keyword := .Context.Request.URL.Query.Get "keyword" }}

<div class="qor-global-search--container" data-toggle="qor.global.search">

  <div class="qor-page__header qor-page__header-tabbar">
    <ul class="mdl-layout__tab-bar">
      {{if (gt (len .Result) 1)}}
        <li class="mdl-layout__tab is-active qor-global-search--resource">{{t "qor_admin.search_center.all" "All"}}</li>
      {{end}}

      {{range .Result}}
        <li class="mdl-layout__tab qor-global-search--resource" data-resource="{{.Resource.ToParam}}">
          {{t (printf "qor_admin.search_center.%v" .Resource.ToParam) .Resource.Name}}
        </li>
      {{end}}
    </ul>

    <form action="{{search_center_path}}" method="GET">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable qor-search qor-global-search">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="inputGlobalSearch">
          <i class="tyk-icon tykon tykon-search"></i>
        </label>
        <div class="tyk-form-group tyk-form-group--default tyk-form-group--rounded-corners">
          <div class="tyk-form-control__wrapper">
            <input
              autocomplete="off"
              class="tyk-form-control mdl-textfield__input qor-search__input"
              type="text"
              id="inputSearch"
              name="keyword"
              value="{{ $keyword }}"
              placeholder="{{t "qor_admin.actions.search_bar_search" "Search"}}"
            >
          </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored qor-search__clear" type="button">
          <i class="tyk-icon tykon tykon-x"></i>
        </button>
      </div>
    </form>
  </div>

  <main class="qor-page__body qor-global-search--results qor-theme-slideout">
  <section class="qor-section">
    {{range .Result}}
      {{if .Results}}
        {{if (len .Results)}}
          <h2 class="qor-section-title">
            <span>{{t (printf "qor_admin.search_center.%v" .Resource.ToParam) .Resource.Name}}</span>
            <a href="{{patch_url (url_for .Resource) "keyword" $keyword}}" class="qor-view-all">{{t "qor_admin.search_center.view_all" "View All"}}</a>
          </h2>
          <div class="qor-section__body qor-table-container">
            {{.Context.Render "index/table" .Results}}
          </div>
        {{end}}
      {{end}}
    {{end}}
  </section>
  </main>
</div>
