{{$actions := load_actions "show"}}
{{if $actions}}
  <div class="qor-page__header">
    {{$actions}}
  </div>
{{end}}

<div class="qor-page__body qor-page__show" data-toggle="qor.inlineEdit"
      data-button-save="{{t "qor_admin.showpage.inlineedit.button.save" "save"}}"
      data-button-cancel="{{t "qor_admin.showpage.inlineedit.button.cancel_edit" "cancel edit"}}">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    {{if has_update_permission .Resource}}
      <a href="{{join_url (url_for .Result .Resource) "edit"}}" class="tyk-button tyk-button--primary mdl-js-button mdl-js-ripple-effect qor-button--edit" data-url="{{join_url (url_for .Result .Resource) "edit"}}"> Continue on edit
      </a>
    {{end}}

    <form class="qor-form" action="{{url_for .Result .Resource}}" method="POST" enctype="multipart/form-data">
      <input name="_method" value="PUT" type="hidden">

      {{render_form .Result show_sections}}

      {{if has_update_permission .Resource}}
        <div class="qor-form__actions qor-field__edit">
          <a class="tyk-button tyk-button--primary-link tyk-button--md qor-button--cancel" href="javascript:history.back();">{{t "qor_admin.form.cancel_edit" "Cancel Edit"}}</a>
          <button class="tyk-button  tyk-button--success tyk-button--md qor-button--save" type="submit">{{t "qor_admin.form.save_changes" "Save Changes"}}</button>
        </div>
      {{end}}
    </form>
  </div>
</div>
