.qor-alert {
  position: relative;
  transform: none;
  justify-content: flex-start;
  box-shadow: none;
  display: none;
  border-radius: var(--default-border-radius);
}

.qor-alert.qor-alert__active {
  display: flex;
  margin: 10px 35px 0px 0px;
}

.qor-alert--success {
  flex-direction: row;
  background: var(--primary-success-light);
  border: var(--success-border);
  color: var(--primary-success);
}

.qor-error {
  background: var(--primary-danger-light);
  border: 2px solid var(--primary-danger);
  color: var(--text-on-red-background);
}

.qor-alert > button {
  top: 20px;
}

.qor-error .tyk-icon: {
  color: var(--text-on-red-background);
}

.qor-alert--success > .tyk-icon:first-child {
  background-color: var(--primary-dark);
  padding-left: 7px;
  padding-top: 5px;
  margin-right: 10px;
}

.qor-alert>.tyk-icon:first-child {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
  color: white;
}

.alert {
  border-radius: var(--default-border-radius);
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.alert__content {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.alert-info {
  background-color: var(--default-light);
  color: var(--default-text-color);
  border: 1px solid #7A79A1;
}

.alert > .tyk-icon:first-child {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
  color: white;
}

.alert-info > .tyk-icon:first-child {
  background-color: var(--default-text-color);
}

.alert > .tyk-icon:first-child:before {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}