.qor-alert {
  position: relative;
  transform: none;
  justify-content: flex-start;
  box-shadow: none;
  display: none;
  border-radius: var(--default-border-radius);
}

.qor-alert.qor-alert__active {
  display: flex;
  margin: 10px 35px 0px 0px;
}


.qor-alert--success {
  background: var(--primary-success-light);
  border: var(--success-border);
  color: var(--primary-success);
}

.qor-error {
  background: var(--primary-danger-light);
  border: 2px solid var(--primary-danger);
  color: var(--text-on-red-background);
}

.qor-alert > button {
  top: 20px;
}