.code-reference-container {
    height: 5em;
}

.code-reference-snippet {
    display: flex;
    flex-direction: row;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.code-reference-copy-icon {
    padding-left: 5px;
    cursor: pointer;
}