.qor-layout .mdl-layout__header,
.qor-layout .mdl-layout__tab-bar,
.qor-slideout__header {
	background-color: var(--primary-dark);
}

.content-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid var(--default-light);
	padding: 15px 24px;
	margin-bottom: 5px;
}

.qor-page__header {
	position: static;
	width: auto;
	margin: 20px;
	padding: 0;
	box-shadow: none;
}

.mdl-layout__header-row {
	justify-content: space-between;
	padding-right: 50px;
}

.mdl-layout__header-row__container {
	display: flex;
	align-items: center;
}

.mdl-layout__header-row__container > * {
	padding-right: 10px;
}

.mdl-layout__header-row__container > a {
	font-size: var(--size-md);
	color: var(--white);
	text-decoration: none;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
	width: 100%;
	margin-left: 0;
}

.mdl-layout-title {
	font-size: var(--size-xl);
	font-family: 'smoolthan_bold';
	margin-right: 10px;
}

.action-button {
	margin-left: auto;
}

.mdl-layout__header-row__container > a > .tyk-icon {
	font-size: 13px;
	padding-left: 3px;
}

.mdl-layout__header-row__container > a > .tykon-profile {
	font-size: var(--size-md);
}

.qor-slideout__header .qor-slideout__header-link a.qor-slideout__opennew i {
	font-size: var(--size-xs);
	position: absolute;
  top: 9px;
  left: 10px;
}

a.qor-slideout__fullscreen > i {
	font-size: var(--size-xs);
	position: absolute;
  top: 9px;
  left: 10px;
}

a.qor-slideout__fullscreen > i.tyk-icon+.tyk-icon {
	margin-left: 0;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
	.qor-layout .mdl-layout__content {
	  padding-left: 0;
	}

	.mdl-layout__drawer {
		width: 230px;
	}

	.content-header {
		flex-direction: column;
	}

	.action-button {
		margin: 0;
	}
}

/*
	Media Queries 
*/

@media screen and (max-width: 1024px) {
	.mdl-layout__header .mdl-layout__drawer-button {
    top: 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
	.qor-slideout__header .qor-slideout__header-link a.qor-slideout__fullscreen {
  	display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
	header .mdl-layout__header-row {
		flex-direction: column;
		height: auto;
    padding-block: 10px;
    padding-inline: 0;
	}
}

@media screen and (min-width: 1025px) {
	.mdl-layout__drawer-button {
	   display: none;
	}
}


/*
	End 
*/
