.mdl-tooltip {
  background: var(--secondary-dark);
  border-radius: var(--default-border-radius);
  color: white;
  max-width: 100%;
}
.mdl-tooltip:before {
  content: "";
  position: absolute;
  right: 96%;
  top: 13px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 16px solid var(--secondary-dark);
  border-bottom: 10px solid transparent;
}

.large-right-border.mdl-tooltip:before {
  right: 98%;
}

.resource-details .mdl-tooltip:before{
  right: 99%;
}

.help-icon {
  align-self: center;
}