@import './components/sidebar.css';
@import './components/header.css';
@import './components/table.css';
@import './components/input.css';
@import './components/select.css';
@import './components/rich-editor.css';
@import './components/buttons.css';
@import './components/collapsible.css';
@import './common/layout.css';
@import './common/form.css';
@import './common/text.css';

/*
	Global Variables
*/

:root {
  --primary-dark: #505071;
  --primary-success: #00D9BA;
  --primary-light: #EDEDF9;
  --primary-info : #82BBC6;
  --primary-danger : #FF6C7D;
  --primary-warning : #FFE885;
  --primary-base : #A2A2CC;
  --default-light: #C3C3E5;
  --background-dark: #43435B;
  --background-base: #E1E1E1;
  --size-xs: 12px;
  --size-sm: 14px;
  --size-md: 16px;
  --size-lg: 18px;
  --size-xl: 24px;
  --default-border: 2px solid #C3C3E5;
  --active-border: 2px solid #00D9BA;
  --default-border-radius: 18px;
  --default-text-color: #505071;
  --white: #fff;
}

/* End */

body {
	height: 100vh;
	background-color: var(--white);
}

.logo {
  float: left;
  display: block;
  width: 140px;
  height: 64px;
  background: url(../images/logo.svg) no-repeat center center;
}

