@import './components/sidebar.css';
@import './components/header.css';
@import './components/table.css';
@import './components/input.css';
@import './components/select.css';
@import './components/rich-editor.css';
@import './components/buttons.css';
@import './common/layout.css';
@import './common/form.css';

/*
	Global Variables
*/

:root {
  --primary-dark: #505071;
  --primary-success: #00D9BA;
  --primary-light: #EDEDF9;
  --primary-info : #82BBC6;
  --primary-danger : #FF6C7D;
  --primary-warning : #FFE885;
  --primary-base : #A2A2CC;
  --default-light: #C3C3E5;
  --background-dark: #43435B;
  --background-base: #E1E1E1;
  --size-xs: 12px;
  --size-sm: 14px;
  --size-md: 16px;
  --size-lg: 18px;
  --size-xl: 24px;
  --default-border: 2px solid #C3C3E5;
  --default-border-radius: 18px;
  --white: #fff;
}

/* End */

/*
	General Overrides
*/

body {
	height: 100vh;
	background-color: var(--white);
}

.logo {
  float: left;
  display: block;
  width: 140px;
  height: 64px;
  background: url(../images/logo.svg) no-repeat center center;
}

/*
	Various Element overrides
*/

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	border: 1px solid var(--default-light);
	background-color: var(--primary-light);
	border-radius: var(--default-border-radius);
	color: var(--primary-dark);
	padding-inline: 10px;
}

.select2-container--default .select2-search--inline .select2-search__field {
	width: 100% !important;
}

/*
	End
*/

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
	border: var(--default-border);
}

.mdl-checkbox__ripple-container .mdl-ripple {
	background: var(--primary-light);
}

/*
	Menu icons
*/

[qor-icon-name="Service Providers"] > a {
  background: url(../images/service-provider.svg) no-repeat left center;
}

[qor-icon-name="Developer Credentials"] > a {
  background: url(../images/developer-portal.svg) no-repeat left center;
}

[qor-icon-name="Blog Management"] > a {
  background: url(../images/blog.svg) no-repeat left center;
}

[qor-icon-name*=Site]>a::before {
	content: '';
}
[qor-icon-name="Site Management"] > a {
  background: url(../images/customise.svg) no-repeat left center;
}

[qor-icon-name*=User]>a::before {
	content: '';
}
[qor-icon-name="User Management"] > a {
  background: url(../images/user-management.svg) no-repeat left center;
}

/*
	End
*/

/*
	Text colors
*/

.text-success {
	color: var(--primary-success);
}
.text-warning {
	color: var(--primary-warning);
}
.text-danger {
	color: var(--primary-danger);
}

/*
	End
*/

/*
	Media Queries 
*/

@media screen and (min-width: 1025px) {
	.mdl-layout__drawer-button {
	   display: none;
	}
}

/*
	End 
*/
