@import './components/sidebar.css';
@import './components/header.css';
@import './components/table.css';
@import './components/input.css';
@import './components/select.css';
@import './components/rich-editor.css';

/*
	Global Variables
*/

:root {
  --primary-dark: #505071;
  --primary-success: #00d9ba;
  --primary-light: #EDEDF9;
  --default-light: #C3C3E5;
  --primary-info : #82BBC6;
  --white: #fff;
  --background-dark: #43435B;
  --size-xs: 12px;
  --size-sm: 14px;
  --size-md: 16px;
  --size-lg: 18px;
  --size-xl: 24px;
  --default-border: 3px solid #C3C3E5; /* Standard is 2px but it looks thinner whereas 3px looks like the standard one */
  --default-border-radius: 18px;
}

/* End */

/*
	General Overrides
*/

body {
	height: 100vh;
}

.qor-page__header + .qor-page__body {
	padding-top: 0 !important;
}

.mdl-layout__container {
	position: relative;
	height: 100%;
	display: flex;
}

.qor-field {
	padding-block: 10px;
}

.qor-fieldset {
	padding-block: 0;
}

.qor-field__block {
	padding-bottom: 0;
}

.qor-field .mdl-textfield__label {
	top: 0;
}

.qor-button__icon-add,
.qor-fieldset__add-promotion,
button.qor-fieldset__add {
	font-size: var(--size-xs);
	font-family: 'OpenSans-Semibold'
}

.qor-button__icon-add:after,
.qor-fieldset__add-promotion:after,
button.qor-fieldset__add:after {
	content: "+";
	font-family: "tykon" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 10px;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
	border: 2px solid var(--primary-light);
}

.qor-layout .mdl-layout__content {
	padding-left: 270px;
}

.tyk-message {
	width: 100%;
}

.mdl-dialog__actions > * {
	height: auto;
}

.logo {
  float: left;
  display: block;
  width: 140px;
  height: 64px;
  background: url(../images/logo.svg) no-repeat center center;
}

.qor-form__actions {
	text-align: right;
}

.qor-fieldset {
	border: var(--default-border);
	border-radius: 18px;
	box-shadow: none;
}

.mdl-button--primary.mdl-button--primary {
	color: var(--primary-dark);
	font-family: 'Opensans-SemiBold';
	text-decoration: underline;
}

/*
	Media Queries 
*/

@media screen and (min-width: 1025px) {
	.mdl-layout__drawer-button {
	   display: none;
	}
}

/*
	End 
*/