.qor-field {
  padding-block: 10px;
}

.qor-field__block {
  padding-bottom: 0;
}

.qor-field .mdl-textfield__label {
  top: 0;
}

.mdl-dialog__actions > * {
  height: auto;
}

.qor-form-section-rows {
  padding-inline: 20px;
}

.qor-slideout__body,
.qor-fieldset .qor-form-section-rows {
  padding: 0;
}

.qor-slideout .qor-page__body .qor-form-container,
.qor-form__actions {
  margin: 0;
}

.qor-form__actions,
.qor-slideout__body .qor-page__header {
  padding: 20px;
  background-color: var(--primary-light);
  position: sticky;
  top: 0;
  z-index: 999;
  text-align: right;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
  margin-bottom: 15px;
}

.qor-slideout__body .qor-page__header.combined-actions {
  box-shadow: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
}

.qor-slideout__body .qor-page__header .qor-action-forms {
  margin-left: 5px;
}

.qor-slideout__body .qor-page__header {
  width: 100%;
  margin-left: 0px;
}

.qor-fieldset {
  border-radius: var(--default-border-radius);
  box-shadow: none;
}

.qor-action-forms > .qor-action-button {
  margin: 0;
}

.qor-slideout {
  background-color: var(--primary-light);
}

.mdl-textfield__expandable-holder {
  margin-left: 0;
}

.qor-fieldset .qor-fieldset {
  border: 1px solid var(--default-light);
  border-radius: var(--default-border-radius);
  background-color: var(--primary-light);
}

.qor-form__actions #qor-submit-loading {
  display: block;
  width: 100%;
  float: none;
}

.loading.relative {
  left: auto;
}

.not-singleton .qor-form-container {
  margin: 0;
}

.not-singleton .qor-form-container .qor-form-section {
  margin: 20px;
}